<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>DHT11 Dashboard</title>
        <link
            rel="icon"
            type="image/svg+xml"
            href="{{ url_for('static', filename='favicon.svg') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
        <script
            src="{{ url_for('static', filename='script.js') }}"
            defer
        ></script>
    </head>
    <body>
        <header>
            <div id="title-container" class="header-item">
                <h1 id="title">
                    <a
                        href="/game"
                        style="text-decoration: none; color: inherit"
                        >DHT11 Dashboard</a
                    >
                </h1>
            </div>
            <div id="unit-converter-container" class="header-item">
                <input
                    type="radio"
                    id="celsius"
                    name="unit"
                    value="celsius"
                    checked
                    onclick="handleUnitChange()"
                />
                <label for="celsius">°C</label>
                <p style="margin: 0 5px">|</p>
                <input
                    type="radio"
                    id="fahrenheit"
                    name="unit"
                    value="fahrenheit"
                    onclick="handleUnitChange()"
                />
                <label for="fahrenheit">°F</label>
            </div>
        </header>

        <main>
            <div id="data-container">
                <div class="data-box">
                    <h2>Temperature</h2>
                    <p id="temperature">-- °C</p>
                </div>
                <div class="data-box">
                    <h2>Humidity</h2>
                    <p id="humidity">-- %</p>
                </div>
            </div>
        </main>
    </body>
</html>
